[flake8]

application_import_names = services

import-order-style = pep8

max-line-length = 88

per-file-ignores =
    */tests/*: F811, S101
    */__init__.py: D104, F403, F401
    */exceptions.py: D107